body {
        margin: 0;
        padding: 0;
}
video {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}
.optionIcons {
	position: absolute;
	left: 25vw;
	width: 50vw;
	top: 20vh;
/*	background-color: rgba(255, 0, 0, 0.2);*/
	z-index: 9999;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.optionTimerSVG {
	width: 32%; 
	height: auto;
	-webkit-transform: scale(0.4);
	        transform: scale(0.4);
}
.optionTimer {
	/*fill: rgba(162, 161, 161, 0.5);*/
	fill: rgba(248, 172, 62, 0.8);
}
.wintext {
	position: absolute;
	left: 50vw;
	top: 50vh;
	background-color: rgb(255, 255, 255);
	z-index: 9999;
}
.optionIcon {
	width: 32%;
	border-radius: 25%;
	transition: all 500ms ease-in-out;
}
.optionIcon.paid {
	opacity: 1;
	background-color: rgba(248, 172, 62, 0.5);
}
.optionIcon.notpaid {
	opacity: 0.25;
}
.optionIcon[data-id="50"] {
	-webkit-animation: moveup 10s ease-in-out infinite;
	        animation: moveup 10s ease-in-out infinite;
}
.optionIcon[data-id="100"] {
	-webkit-animation: movedown 10s ease-in-out infinite;
	        animation: movedown 10s ease-in-out infinite;
}
@-webkit-keyframes moveup {
	0% {
		-webkit-transform: translate(0, -4vh);
		        transform: translate(0, -4vh);
	}
	25% {
		-webkit-transform: translate(0, -2vh);
		        transform: translate(0, -2vh);
	}
	50% {
		-webkit-transform: translate(0, 2vh);
		        transform: translate(0, 2vh);
	}
	75% {
		-webkit-transform: translate(0, 4vh);
		        transform: translate(0, 4vh);
	}
	100% {
		-webkit-transform: translate(0, -4vh);
		        transform: translate(0, -4vh);
	}
}
@keyframes moveup {
	0% {
		-webkit-transform: translate(0, -4vh);
		        transform: translate(0, -4vh);
	}
	25% {
		-webkit-transform: translate(0, -2vh);
		        transform: translate(0, -2vh);
	}
	50% {
		-webkit-transform: translate(0, 2vh);
		        transform: translate(0, 2vh);
	}
	75% {
		-webkit-transform: translate(0, 4vh);
		        transform: translate(0, 4vh);
	}
	100% {
		-webkit-transform: translate(0, -4vh);
		        transform: translate(0, -4vh);
	}
}
@-webkit-keyframes movedown {
	0% {
		-webkit-transform: translate(0, -2vh);
		        transform: translate(0, -2vh);
	}
	25% {
		-webkit-transform: translate(0, 4vh);
		        transform: translate(0, 4vh);
	}
	50% {
		-webkit-transform: translate(0, 2vh);
		        transform: translate(0, 2vh);
	}
	75% {
		-webkit-transform: translate(0, -2vh);
		        transform: translate(0, -2vh);
	}
	100% {
		-webkit-transform: translate(0, -2vh);
		        transform: translate(0, -2vh);
	}
}
@keyframes movedown {
	0% {
		-webkit-transform: translate(0, -2vh);
		        transform: translate(0, -2vh);
	}
	25% {
		-webkit-transform: translate(0, 4vh);
		        transform: translate(0, 4vh);
	}
	50% {
		-webkit-transform: translate(0, 2vh);
		        transform: translate(0, 2vh);
	}
	75% {
		-webkit-transform: translate(0, -2vh);
		        transform: translate(0, -2vh);
	}
	100% {
		-webkit-transform: translate(0, -2vh);
		        transform: translate(0, -2vh);
	}
}